body {
    background-color: transparent;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Merriweather Sans", sans-serif;
    position: relative;
}

#mng_recipe {
    width: 1600px;
    height: 800px;
    background-color: #f4f4f9;
    display: flex;
    border-radius: 8px;
    padding: 20px;
    flex-direction: column; /* Affiche le header en haut et le contenu en dessous */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;  
    transition: all 0.3s ease-in-out;
    position: relative;
}

#header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #d9534f;
}
/*.close-button {
    top: 15px;
    right: 45px;
    background-color: #690101;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #9e0f0f;
}*/

#content {
    display: flex;
    width: 1540px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 700px;
    flex-grow: 1; /* Prend tout l'espace disponible sous le header */
    background-color: rgba(255, 255, 255, 0.1);
}

/* Styling for scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Recipe List Section */
#recipe-list {
    width: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Scroll vertical pour recipe-list */
    max-height: 100%; /* Utilise tout l'espace disponible */
}

#recipe-list h2 {
    text-align: center;
    margin-top: 0;
}

.recipe-item {
    position: relative;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #555;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}

.recipe-item:hover {
    background-color: #555;
}

.trash-button {
    display: none;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.recipe-item:hover .trash-button {
    display: inline;
}

/* Recipe Details Section */
#recipe-details {
    display : none;
    width: 70%;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Scroll vertical pour recipe-details */
    max-height: 100%; /* Utilise tout l'espace disponible */
}

#recipe-details img {
    max-width: 128px;
    max-height: 128px;
    width: auto;  /* Maintient les proportions */
    height: auto; /* Maintient les proportions */
}

.inline-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inline-input input {
    flex: 1;
    margin-right: 10px;
}

.btn-small {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-small:hover {
    background-color: #218838;
}

.btn-add {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.btn-add:hover {
    background-color: #0056b3;
}

ul#ingredients-list {
    list-style-type: none;
    padding-left: 0;
}

ul#ingredients-list li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.ingredient-label {
    flex: 1;
}

.ingredient-amount {
    margin: 0 10px;
    width: 25px;
    text-align: right;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-small {
    padding: 2px 5px;
}

/* Responsive design */
@media (max-width: 1200px) {
    #mng_recipe {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    #recipe-list {
        width: 100%;
    }

    #recipe-details {
        width: 100%;
        padding-top: 20px;
    }
}

#ingredient-category{
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#ingredient-select{
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



#ticket {
    display: none;
}

#completed {
    text-decoration: line-through;
}

#mng_prix{
    display : none;
}

#mng_ingredientOrder{
    display : none;    
}

.menu-container{
    display : none;
}
.goCraft{
    display : none;
}

.listFridgeIngredient{
    display : none;
}