* {
    box-sizing: border-box;
    font-family: 'Harry P',  Arial, sans-serif;
  }

body {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #690101;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.close-button:hover {
    background-color: #9e0f0f;
}

.menu-container {
    display: none;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: #221301;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 30px;
    color: #dfa300;
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;    
    overflow-y: auto;
    box-sizing: content-box;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.item-info {
    margin-top: 10px;
}

.item-info p {
    margin: 10px 0;
}

.price-tag {
    background-color: #003d1c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.quantity-control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #312200;
    border: none;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #dfa300;
    color: #312200;
}

.quantity {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
}

.menu-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;    
}

.total-price {
    font-size: 24px;
    /*font-weight: bold;*/
}

#payButton {
    padding: 10px 20px;
    font-size: 24px;
    background-color: #312200;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#payButton:hover {
    background-color: #dfa300;
    color: #312200;
}

/* Style pour l'ascenseur */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #312200;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b2101;
}

/* Style pour les ascenseurs Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #ff00d4 #00ff62;
}