* {
    box-sizing: border-box;
    /*font-family: 'Harry P','Bodoni MT',  Arial, sans-serif;*/
    /*font-family: 'Bodoni MT', 'Bodoni 72', 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', serif;
    font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', Arial, sans-serif;*/
    font-family: "Playwrite CU", cursive;
  }

  body {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: none;    
}

