* {
    box-sizing: border-box;
    font-family: "Prociono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: transparent; /* Fond blanc pour équilibrer les autres couleurs */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #d32f2f; /* Rouge italien */
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #c62828; /* Rouge plus intense au survol */
}

/* Conteneur principal du menu */
.menu-container {
    display: none;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: #f1e8e8; /* Fond blanc pour rappeler le drapeau italien */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    position: relative;
    overflow: hidden;
}

.items-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 20px;
}

h1 {
    font-size: 30px;
    color: #2e7d32; /* Vert italien pour les titres */
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* Conteneur global pour chaque catégorie */
.category-container {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Titre de la catégorie */
.category h2 {
    font-size: 28px;
    color: #2e7d32; /* Vert italien */
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 2px solid #2e7d32;
    padding-bottom: 10px;
}

.category .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 15px;
    width: 100%;
}

.item {
    background-color: rgba(255, 255, 255, 0.9); /* Fond blanc légèrement transparent */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s;
    position: relative;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.item-info {
    margin-top: 10px;
}

.item-info p {
    margin: 10px 0;
}

.price-tag {
    background-color: #d32f2f; /* Rouge italien pour les prix */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #2e7d32; /* Vert italien pour les boutons */
    border: none;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #1b5e20; /* Vert plus sombre au survol */
}

.quantity {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
}

.menu-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: transparent;
}

.playerList{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: transparent;
}

.buttons {
    display: flex;
    gap: 5px;
    font-size: 15px;
}

#addButton, #subtractButton {
    padding: 5px 15px;
    background-color: #2e7d32; /* Vert italien pour les boutons d'ajout */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

#addButton:hover, #subtractButton:hover {
    background-color: #1b5e20;
}

#payButton {
    padding: 10px 20px;
    background-color: #d32f2f; /* Rouge italien pour le bouton de paiement */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#payButton:hover {
    background-color: #c62828;
}

/* Style pour l'ascenseur */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2e7d32; /* Vert italien pour l'ascenseur */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1b5e20;
}

.notepad {
    width: 300px;
    background-color: #e0e0e0; /* Fond gris clair pour un peu de contraste */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.notepad h1 {
    margin-bottom: 20px;
    border-bottom: 2px solid #d32f2f;
    padding-bottom: 10px;
}

.notepad ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.notepad ul li {
    margin-bottom: 10px;
    font-size: 24px;
}

#ticket {
    display: none;
}

#completed {
    text-decoration: line-through;
}

#mng_recipe{
    display : none;
}

#mng_prix{
    display : none;
}

#mng_ingredientOrder{
    display : none;    
}

.goCraft{
    display : none;
}

.listFridgeIngredient{
    display : none;
}


.listPlayerIngredient{
    display : none;
}